<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twitch Quiz</title>
  </head>
  <body>
    <div id="app" class="container">
      <app></app>
    </div>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js" integrity="sha512-tXH7Av8en7+/hg0XwBppaCDPmpJhUXbZ+j7lNC4y+ZQpmCZQcgQN6RjkM7Irj1MUW7bZengfuTOqR4RzCC4bnA==" crossorigin="anonymous"></script>

    <!--
    We need to add manually all these files.
    build.js is the main file. The others are for each element in the folder "views"
    -->
    <script src="static/dist/1.build.js"></script>
    <script src="static/dist/2.build.js"></script>
    <script src="static/dist/3.build.js"></script>
    <script src="static/dist/4.build.js"></script>
    <script src="static/dist/build.js"></script>
  </body>
</html>
